body {
  background-color: rgb(215, 215, 215);
  margin-top: 100px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
}

select {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 202);
  text-align: center;
  padding: 15px;
  margin-top: 21px;
  color: black;
  background-color: rgb(248, 248, 85);
  box-shadow: 0px 2px 10px rgb(0, 0, 202);
}

footer {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.box {
  border: 2px solid rgb(0, 0, 202);
  box-shadow: 0px 2px 10px rgb(0, 0, 202);
  margin: 0 auto;
  padding: 40px;
  max-width: 650px;
  min-width: 600px;
  max-height: 620px;
  border-radius: 10px;
  background-color: white;
}

.worldClock {
  display: flex;
  justify-content: space-between;
}

.world {
  font-size: 35px;
}

.clock {
  color: rgb(0, 0, 202);
}

.usClock {
  text-align: center;
  margin-top: 50px;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.city {
  padding: 50px 10px 40px 0px;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.city:last-child {
  border: none;
}

.name {
  margin: 0 0 0px;
  font-size: 45px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.usGMT {
  font-size: 15px;
  margin-top: 0;
  font-weight: 100;
}

.date {
  text-align: center;
  font-size: 18px;
}
.time {
  font-size: 44px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.time small {
  vertical-align: middle;
  font-size: 22px;
}

.country {
  font-size: 15px;
}

.GMT {
  font-size: 18px;
  margin-top: 0px;
}

.flag {
  font-size: 35px;
  padding-right: 10px;
  margin-top: 0px;
}

.worldDate {
  font-size: 18px;
  margin-top: 20px;
}

.worldTime {
  font-size: 50px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 70px;
}

.worldTime small {
  vertical-align: middle;
  font-size: 22px;
}

.backToHomepage {
  display: block;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}
