h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 0px;
}

.globe {
  max-width: 35px;
  max-height: 35px;
}

footer {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
